:root{
    --offWhite : hsl(0,0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --somekyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
}


*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body{
    background-color: var(--offWhite);
    font-family: 'Poppins', sans-serif;
   
}

.content{
    background-color: white;
    width:90vw;
    margin:5em auto;
    padding:1.5em;
    border-radius: 25px;
    border-bottom-right-radius: 100px;
    position:relative;
}

.input-section{
  width: 100%;
  display:flex;
  gap:1em;
  margin: 1em 0 4em 0;
}

.input-section div{
   display:flex;
   flex-direction: column;
   max-width:30%;
}

label{
    max-width: min-content;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    color:var(--somekyGrey);
    margin:0.5em 0;
}
input{
 padding:0.5em;
 font-size: 1.2rem;
 font-family: 'Poppins',sans-serif;
 font-weight: 800;
 border:1px solid var(--lightGrey);
 border-radius: 8px;
 outline-color: var(--purple);
 max-width:7em;
 margin-bottom:0.3em;
}

.input-section div span{
    font-size: 0.8em;
    color: var(--lightRed);
    display:none;
}

.btn{
     position:absolute;
     right:42.5%;
     top:31.5%;
     background-color: var(--purple);
     border:0px;
     border-radius: 50%;
     padding: 1.5em;
     
}

.btn img{
    display:block;
    width:25px;
    height:25px;
}

.result-section{
  font-size:3.2rem;
  font-weight: 800;
 font-style: italic;
 margin:1em 0 0;
}

.result-section span{
    color:var(--purple);
}

@media screen and (width<=305px){
    .result-section{
        font-size: 2rem;
    }
}
@media screen and (306px<=width<=375px){
    .result-section{
        font-size:2.5rem;
    }

    .btn{
        top: 36%;
    }
}

@media screen and (width>=520px){
    .btn{
        right:1em;
    }
}

@media screen and (width>=585px){
    .content{
        max-width:65vw;
    }
}

@media screen and (width>=850px){
    .content{
        max-width:60vw;
    }
    
    .btn{
        top:31%;
    }

    .result-section{
        font-size: 4rem;
        margin-top:0.4em;
      }

      input{
        font-size:1.5rem;
      }

      label{
        font-size: 0.9rem;
      }

}

@media screen and (width>=987px){
    .input-section{
        max-width: fit-content;
    }

    .content{
        max-width:50vw;
    }

}

